@model FitnessTracker.Client.ViewModels.Homepage.HomepageViewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="container">
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand" id="browse-employees" style="background: url('@recipe.ImageUrl');">
                            <h2 class="mdl-card__title-text homeLabel"><span>@recipe.Name</span></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            @recipe.Category
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored" href="@Url.Action("ShowRecipe", new { recipe.Id })">
                                For just @recipe.Price bgn! Click to read more...
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }


        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Exercise</th>
                    <th scope="col">Category</th>
                    <th scope="col">Sets</th>
                    <th scope="col">Reps</th>
                    <th scope="col">Calories/rep</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exercise in Model.Exercises)
                {
                    <tr>
                        <th scope="row">@exercise.Name</th>
                        <td>@exercise.ExerciseCategory</td>
                        <td>@exercise.Sets</td>
                        <td>@exercise.Reps</td>
                        <td>@exercise.CaloriesPerRep</td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-danger">
            <thead>
                <tr>
                    <th scope="col">Meal</th>
                    <th scope="col">Protein</th>
                    <th scope="col">Carbs</th>
                    <th scope="col">Fat</th>
                    <th scope="col">Calories</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var meal in Model.Meals)
                {
                    <tr>
                        <th scope="row">@meal.Name</th>
                        <td>@meal.Protein</td>
                        <td>@meal.Carbs</td>
                        <td>@meal.Fat</td>
                        <td>@meal.Calories</td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">NET CALORIES</th>
                    <th scope="col">MEALS TRACKED TO DATE</th>
                    <th scope="col">CALORIES BURNED TO DATE</th>
                    
                </tr>
            </thead>
            <tbody>                
                <tr>
                    <th scope="row">@Model.NetCalories</th>
                    <td>@Model.MealsTracked</td>
                    <td>@Model.TotalCaloriesBurned</td>  
                </tr>                
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

