@model FitnessTracker.Client.ViewModels.Recipes.RecipeDetailsOutputModel

    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <img url='@Model.ImageUrl' />
    <p>@Model.Protein</p>
    <p>@Model.Carbs</p>
    <p>@Model.Fat</p>
    <p>@Model.Price</p>
    <p>@Model.PreparationTime</p>
    <p>@Model.Category</p>
    <text>
        @Model.Instructions
    </text>
